{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto text-center">
        <h2><i class="bi bi-diagram-3"></i> Карьерная карта</h2>
        <div class="alert alert-info mt-4">
            <h4>🗺️ Скоро здесь появится карьерная карта!</h4>
            <p>Визуальная схема развития в IT-сфере</p>
            <a href="{% url 'career:profession_list' %}" class="btn btn-primary">
                Вернуться к профессиям
            </a>
        </div>
    </div>
</div>
{% endblock %}
